{% extends '@App/base.html.twig' %}

{#{% if player is not null %}#}
{#{% block title %}{{ player.name }} {{ player.surname }}{% endblock %}#}
{#{% endif %}#}

{% block body %}
    <div class="center">

    {% if player is not null %}
        {% set team = player.team %}
        <div>
            <h3>{{ player.name }} {{ player.surname }}</h3>
            <p>{{ team.country.name }}</p>
            <p>Position : {{ player.position }}</p>
            <div>
                <span>Team : </span>
                <a  href="{{ path("display_team", {"id": team.id}) }}">{{ team.name }}</a>
            </div>

        </div>
    {% else %}
        Error: Currently there is no player with that id
    {% endif %}
    </div>
{% endblock %}

