{% extends '@App/base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="center">
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.country) }}
        {{ form_row(form.team) }}

        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#player_country").on("change",function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('country_ajax_changed') }}?id=" + val,
                    success: function(data) {
                        // Remove current options
                        $('#player_team').html('');
                        $.each(data, function(k, v) {
                            $('#player_team').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}

