{% extends '@App/base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="center">
        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.code) }}

        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}